---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{`Major { } Tom`}</title>
  </head>
  <body>
    <section
      class="flex flex-col h-screen bg-slate-800 text-white bg-center bg-cover bg-blend-overlay bg-fixed bg-black/50"
      style="background-image: url('https://source.unsplash.com/random/');"
    >
      <div class="flex items-center h-20">
        <div
          class="mx-auto relative px-5 max-w-screen-xl w-full flex items-center justify-end"
        >
          <div
            class="text-4xl font-light uppercase absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 mt-10"
          >
            Astro | Tailwind CSS
          </div>
        </div>
      </div>

      <div class="flex flex-1 items-center">
        <div class="text-center mx-auto">
          <h1 class="text-8xl font-semibold uppercase">{`Major { } Tom`}</h1>
          <p class="font-light text-3xl mt-5">
            Coding in a most peculiar way...
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
