---
import { Image } from "astro:assets";
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout title="Major { } Tom">
  <div class="flex h-screen flex-col bg-slate-800 text-white">
    <div class="hidden h-20 min-h-16 items-center md:flex">
      <div
        class="relative mx-auto flex w-full max-w-screen-xl items-center justify-end px-5"
      >
        <div
          class="absolute left-1/2 top-1/2 mt-6 -translate-x-1/2 -translate-y-1/2 text-4xl font-light uppercase"
        >
          <span class="font-semibold text-yellow-600">Astro</span> | Tailwind CSS
        </div>
      </div>
    </div>
    <div class="mx-auto mt-32 min-h-48 md:mt-12">
      <Image
        class="h-60 w-60 md:h-20 md:w-20"
        src="/favicon.svg"
        alt="astro"
        height="100"
        width="100"
        loading={"eager"}
      />
    </div>
    <div class="-mt-20 hidden items-center md:flex md:flex-1">
      <div class="mx-auto text-center">
        <h1 class="text-8xl font-semibold uppercase">
          Major<span class="font-semibold text-yellow-600">{` { } `}</span>Tom
        </h1>
        <p class="mt-6 text-3xl font-light">
          Coding in a most <em>peculiar</em> way
        </p>
      </div>
    </div>
  </div>
</MainLayout>
