---
import { Image } from "astro:assets";
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout title="Major { } Tom">
  <div class="flex h-[85vh] flex-col">
    <div class="mx-auto mt-32 min-h-44 md:mt-2">
      <Image
        class="h-60 w-60 md:h-20 md:w-20"
        src="/favicon.svg"
        alt="astro"
        height="100"
        width="100"
        loading={"eager"}
      />
    </div>
    <div class="hidden items-center md:flex md:flex-1">
      <div class="mx-auto text-center">
        <h1 class="text-8xl font-semibold uppercase">
          Major<span class="font-semibold text-yellow-600">{` { } `}</span>Tom
        </h1>
        <p class="mt-6 text-3xl font-light">
          Coding in a most <em>peculiar</em> way
        </p>
      </div>
    </div>
  </div>
</MainLayout>
