<div class="min-h-screen bg-slate-800 text-white">
  <header class="hidden items-center md:flex">
    <div class="mx-auto flex w-full max-w-(--breakpoint-xl)">
      <h1 class="mx-auto my-8 text-4xl font-light uppercase">
        <span class="font-semibold text-yellow-600">Astro</span> |
        <span class="font-semibold text-sky-400">Tailwind</span>
      </h1>
    </div>
  </header>

  <main class="flex h-[85vh] flex-col">
    <div class="mx-auto mt-32 min-h-44 md:mt-2">
      <img class="h-60 w-60 md:h-20 md:w-20" src="/favicon.svg" alt="Astro Logo" />
    </div>
    <div class="hidden items-center md:flex md:flex-1">
      <div class="mx-auto text-center">
        <h2 class="text-8xl font-semibold uppercase">
          Major<span class="font-semibold text-yellow-600">{` { } `}</span>Tom
        </h2>
        <p class="mt-6 text-3xl font-light">
          Coding in a most <em>peculiar</em> way
        </p>
      </div>
    </div>
  </main>
</div>
