---
import "@/styles/styles.css";

interface Props {
  title?: string;
}
const { title = "Astro" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <style>
      @view-transition {
        navigation: auto; /* View Transitions */
      }
    </style>
  </head>
  <body class="bg-slate-800 text-white">
    <header class="hidden items-center md:flex">
      <div class="mx-auto flex w-full max-w-screen-xl">
        <div class="mx-auto my-8 text-4xl font-light uppercase">
          <span class="font-semibold text-yellow-600">Astro</span> | Tailwind CSS
        </div>
      </div>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>
